@font-face{
  font-family: "LOL";
  src: url(./image/BeaufortforLOL-Bold.otf)
}

body{
  background-image: url(./image/fondoRiven.jpg);
  background-position: center;
  font-family: "LOL";
  margin: 0;
}
header{
  width: 100%;
  height: 100vh;
}
section{
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-image: url(/image/fondoHeader.webp); */
}
.redireccion{
  position: absolute;
  cursor: pointer;
  z-index: 2;
}
.switch{
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 15px;
  right: 15px;
}
.sonido{
  width: 50px !important;
  height: 25px;
  border: none;
}
video{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  z-index: -1;
}
.containerInfo{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}
.contentInfo{
  display: grid;
  place-content: center;
}
.title{
  width: 50rem;
}
.boton {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 15px; 
  background: #1e2328;
  color: #cdbe91;
  box-shadow: inset 0 0 2px #000000;
  border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
  border-image-slice: 1;
  border-width: 2px;
}

.boton:hover {
  text-shadow: 0 0 5px #ffffff80;
  box-shadow: 0 0 8px 0 #ffffff50;
  background: linear-gradient(to bottom, #1e2328, #433d2b);
  cursor: pointer;
  transition: 0.1s;
}

.boton:active {
  text-shadow: none;
  box-shadow: none;
  color: #cdbe9130;
}
#search{
  width: 40%;
  height: 35px;
}
.lead{
  height: 15rem;
}
.categoria{
  color: black;
  font-size: 1.2rem;
  border-bottom: 2px transparent solid;
  transition: all .5s ease;
}
.categoria:hover{
  color: #cdbe91;
  border-bottom: 2px #6d5d3d solid;
  cursor: pointer;
  transition: all .5s ease;
}
.containerDescription{
  width: 50%;
}
.champions{
  height: 30rem;
}
.champions .info{
  color: transparent;
  display: grid;
  place-content: center;
}
.champions .info:hover{
  color: white;
  background-color: rgba(0, 0, 0, 0.493);
  transition: all .5s ease;
  z-index: 10;
}
.buttonInfo{
  background-color:#c8aa6d;
  color: white;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
}
.buttonInfo:Hover{
  background-color:#7a5c29  ;
  cursor: pointer;
  transition: all .5s ease;
}

.modal {
    display: block;
    position: fixed; /* Posición fija */
    z-index: 40; /* Se situará por encima de otros elementos de la página*/
    padding-top: 20px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
  }
  .contenido-modal {
    position: relative; /* Relativo con respecto al contenedor -modal- */

    margin: auto; /* Centrada */
    width: 60%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s
  }
  .close {
    color: white;
    /* float: right;
    font-size: 80px;
    font-weight: bold;
    cursor: pointer;
    z-index: 50; */
  }
  .close:hover{
    color: white;
    cursor: pointer;
  }
  @media (max-width: 680px) {
    .title{
      width: 23rem;
    }
    .switch{
      top: 30px;
      right: 15px;
    }
    .modal {
      padding-top: 0;
    }
    .containerDescription{
      width: 75%;
    }
    #search{
      width: 60%;
    }
    .champions{
      height: 20rem;
    }
    .lead{
      height: auto;
    }
}